.footer {
    height: 200px;
    background-color: rgb(36, 35, 35);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}